.jumbotron {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.fa-search {
    color: white;
}

input {
    margin-left: 20px;
}

.img-responsive {
    float: left;
    padding-right: 20px;
}

.searchHistory{
    margin-top: 20px;
}

.movies {
margin-bottom: 20px;
}

.footer {
    border-top: double black;
    text-align: center;
}

/* review page*/
.header {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}



