/* index */
.jumbotron {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.fa-search {
    color: white;
}

#search-term {
    margin-left: 20px;
}

.img-fluid {
    width: 75%;
}



.img-responsive {
    float: left;
    padding-right: 20px;
}

.searchHistory{
    margin-top: 20px;
}

.movies {
margin-bottom: 20px;
}

.displayNone {
    display: none;
 }


.footer {
    margin-top: 20px;
    border-top: double black;
    text-align: center;
}

/* review page*/
.header {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}



